.nex-popup-root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.nex-popup {
    position: absolute;
    left: 0;
    top: 0;
    outline: 0;
}

.nex-popup-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.1;
}

.nex-popup-fixed,
.nex-popup-mask-fixed {
    position: fixed;
}
